{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Custom | Register</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <br>
        {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <p style="text-align: center;">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
        <div class="card card-container" style="width: 40%;">
            <p id="profile-name" class="profile-name-card">Custom Login</p>
            <form class="form-signin" action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <span id="reauth-email" class="reauth-email"></span>
                <label>Full Name</label>
                <input type="text" name="name" id="inputName" class="form-control" placeholder="Full Name" required autofocus>
                <label>Username</label>
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <label>Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
                <br>
                <button class="btn btn-lg btn-primary btn-block btn-signin pointer" type="submit">Register me</button>
            </form>
        </div>
    </div>
</body>
</html>